DB_HOST=VMDB2
DB_INSTANCE=VMDB2
DB_SERVER=VMDB2\\VMDB2
DB_DATABASE=MetricsPROD
DB_USER=mitraconnect
DB_PASSWORD=...
UPDATE_INTERVAL_MINUTES=15
FORCE_REFRESH_TOKEN=algum_token
ENABLE_DB_SNAPSHOT=false
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true
DB_REQUEST_TIMEOUT_MS=60000
